<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flipkart Application Test Suite" parallel="methods" thread-count="1" verbose="2">
	<listeners>
		<listener class-name="com.flipkart.base.ExtentReportListener" />
	</listeners>
	<parameter name="browserType" value="chrome" />
	<parameter name="appURL" value="https://google.com"/>
	
	<test name="Flipkart Test">
		<classes>
			<class name="com.flipkart.test.LoginPageTest"></class>
 			<class name="com.flipkart.test.HomePageTest"></class>
			<class name="com.flipkart.test.SearchPageTest"></class>
			<class name="com.flipkart.test.ProductPageTest"></class>
			<class name="com.flipkart.test.PlaceOrderPageTest"></class>
		</classes>
	</test>
</suite>